<style>
    .redAlert{color:red;}
</style>

<div class="row">

    <div class="col-sm-8">

        <div class="contact-form">

            <h2 class="title text-center">Add Book</h2>
            <div class="status alert alert-success" style="" *ngIf="bookSaveSuccess">{{bookSaveSuccess}}</div>
            <div class="status alert alert-warning" style="" *ngIf="bookSaveError">{{bookSaveError}}</div>

            <form [formGroup]="myForm" (ngSubmit)="save(myForm.value, myForm.valid)" id="main-contact-form" class="contact-form row" name="contact-form" novalidate>

                <div class="form-group col-md-6">
                    <input type="text" formControlName="title" class="form-control" placeholder="Book Title">
                    <small [hidden]="myForm.controls.title.pristine || myForm.controls.title.valid" class="redAlert">Required.</small>
                </div>

                <div class="form-group col-md-6">
                    <input type="text" formControlName="author" class="form-control" placeholder="Book Author">
                    <small [hidden]="myForm.controls.author.pristine || myForm.controls.author.valid" class="redAlert">Required.</small>
                </div>

                <div class="form-group col-md-12">
                    <select formControlName="category_id" class="form-control" placeholder="Book Category">
                        <option value="">--Select Category--</option>
                        <option value="{{category.id}}" *ngFor="let category of categories">{{category.name}}</option>
                    </select>
                    <small [hidden]="myForm.controls.category_id.pristine || myForm.controls.category_id.valid" class="redAlert">Required.</small>
                </div>

                <div class="form-group col-md-12">
                    <select formControlName="level_id" class="form-control" placeholder="Class">
                        <option value="">--Select Class--</option>
                        <option value="{{level.id}}" *ngFor="let level of levels">{{level.name}}</option>
                    </select>
                    <small [hidden]="myForm.controls.level_id.pristine || myForm.controls.level_id.valid" class="redAlert">Required.</small>
                </div>
                
                <div class="form-group col-md-6">
                    <input type="number" formControlName="price" class="form-control" placeholder="Price">
                    <small [hidden]="myForm.controls.price.pristine || myForm.controls.price.valid" class="redAlert">Required.</small>
                </div>

                <div class="form-group col-md-6">
                    <input type="number" formControlName="sales_price" class="form-control" placeholder="Sales Price">
                    <small [hidden]="myForm.controls.sales_price.pristine || myForm.controls.sales_price.valid" class="redAlert">Required.</small>
                </div>
                
                <div class="form-group col-md-12">

                    <div class="form-group col-md-6">
                        
                        <button 
                            [ngClass]="
                                        { 
                                            'btn btn-primary' : myForm.controls.quantityMethod.controls.type?.value === QUANTITY_METHOD_TYPE?.STOCK, 
                                            'btn btn-default' : myForm.controls.quantityMethod.controls.type?.value != QUANTITY_METHOD_TYPE?.STOCK 
                                        }
                                        " 
                            type="button" 
                            (click)="setPaymentMethodType(QUANTITY_METHOD_TYPE?.STOCK)" 
                            style="width:100%;margin:0;height:26px !important">
                            {{ QUANTITY_METHOD_TYPE?.STOCK | uppercase }} QUANTITY
                        </button>

                    </div>

                    <div class="form-group col-md-6">

                        <button 
                                [ngClass]="{ 
                                                'btn btn-primary' : myForm.controls.quantityMethod.controls.type?.value === QUANTITY_METHOD_TYPE?.BOX,
                                                'btn btn-default' : myForm.controls.quantityMethod.controls.type?.value != QUANTITY_METHOD_TYPE?.BOX
                                            }
                                            " 
                                type="button" 
                                (click)="setPaymentMethodType(QUANTITY_METHOD_TYPE?.BOX)" 
                                style="width:100%;margin:0;height:26px !important">
                            {{ QUANTITY_METHOD_TYPE?.BOX | uppercase }} QUANTITY
                        </button>

                    </div>
                </div>
                
                <div formGroupName="quantityMethod">

                    <div formGroupName="box" *ngIf="myForm.controls.quantityMethod.controls.type?.value === QUANTITY_METHOD_TYPE?.BOX">

                        <div class="form-group col-md-6">
                            <input type="number" formControlName="number_of_boxes" class="form-control" placeholder="Number Of Boxes">
                            <small [hidden]="myForm.controls.quantityMethod.controls.box.controls.number_of_boxes.pristine || myForm.controls.quantityMethod.controls.box.controls.number_of_boxes.valid" class="redAlert">Required.</small>
                        </div>
                        
                        <div class="form-group col-md-6">
                            <input type="number" formControlName="quantity" class="form-control" placeholder="Quantity In Box">
                            <small [hidden]="myForm.controls.quantityMethod.controls.box.controls.quantity.pristine || myForm.controls.quantityMethod.controls.box.controls.quantity.valid" class="redAlert">Required.</small>
                        </div>

                    </div>

                    <div formGroupName="stock" *ngIf="myForm.controls.quantityMethod.controls.type?.value === QUANTITY_METHOD_TYPE?.STOCK">

                        <div class="form-group col-md-6">
                            <input type="number" formControlName="quantity" class="form-control" placeholder="Quantity">
                            <small [hidden]="myForm.controls.quantityMethod.controls.stock.controls.quantity.pristine || myForm.controls.quantityMethod.controls.stock.controls.quantity.valid" class="redAlert">Required.</small>
                        </div>

                    </div>

                </div>
                
                <div class="form-group col-md-6">
                    <input type="text" formControlName="batch" class="form-control" placeholder="Batch Number">
                </div>

                <div class="form-group col-md-12">
                    <select formControlName="supplier_id" class="form-control" placeholder="Class">
                        <option value="">--Select Supplier--</option>
                        <option value="{{supplier.id}}" *ngFor="let supplier of suppliers">{{supplier.name}}</option>
                    </select>
                    <!--<small [hidden]="myForm.controls.supplier_id.pristine || myForm.controls.supplier_id.valid" class="redAlert">Required.</small>-->
                </div>

                <div class="form-group col-md-12">
                    <textarea formControlName="description" class="form-control" rows="8" placeholder="Book Description"></textarea>
                </div>

                <div class="form-group col-md-6">
                    <input type="file" formControlName="image" formControlName="image" class="form-control" placeholder="Book Image" (change)="onChange($event)">
                    <!--<small [hidden]="myForm.controls.image.pristine || myForm.controls.image.valid" class="redAlert">Required.</small>-->
                </div>  

                <div class="form-group col-md-12">
                    <input type="submit" name="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid" value="Submit">
                </div>

            </form>

        </div>

    </div> 

</div>