<style>
    .redAlert{
        color:red;
    }
</style>

<div class="row">

    <div class="col-sm-8">

        <div class="contact-form">

            <h2 class="title text-center">Add Book</h2>
            <div class="status alert alert-success" style="display: none"></div>

        <!--<form id="main-contact-form" class="contact-form row" name="contact-form" method="post">-->
            <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)" id="main-contact-form" class="contact-form row" name="contact-form">

                <div class="form-group col-md-6">
                    <input type="text" formControlName="title" class="form-control" placeholder="Title">
                    <small [hidden]="myForm.controls.title.pristine || myForm.controls.title.valid" class="redAlert">Required.</small>
                </div>

                <div class="form-group col-md-6">
                    <input type="text" formControlName="author" class="form-control" placeholder="Author">
                    <small [hidden]="myForm.controls.author.pristine || myForm.controls.author.valid" class="redAlert">Required.</small>
                </div>

                <div class="form-group col-md-12">
                    <select formControlName="category_id" class="form-control" placeholder="Category">
                        <option value="">--Select Category--</option>
                        <option value="1">Science</option>
                        <option value="2">Mathematics</option>
                        <option value="3">Religion</option>
                        <option value="4">Technical</option>
                    </select>
                    <small [hidden]="myForm.controls.category_id.pristine || myForm.controls.category_id.valid" class="redAlert">Required.</small>
                </div>

                <div class="form-group col-md-12">
                    <select formControlName="level_id" class="form-control" placeholder="Class">
                        <option value="">--Select Class--</option>
                        <option value="1">Primary 1</option>
                        <option value="2">Primary 2</option>
                        <option value="3">Primary 3</option>
                        <option value="4">Primary 4</option>
                        <option value="5">Primary 5</option>
                        <option value="6">Primary 6</option>
                        <option value="7">JHS 1</option>
                        <option value="8">JHS 2</option>
                        <option value="9">JHS 3</option>
                    </select>
                    <small [hidden]="myForm.controls.level_id.pristine || myForm.controls.level_id.valid" class="redAlert">Required.</small>
                </div>
                
                <div class="form-group col-md-6">
                    <input type="number" formControlName="price" class="form-control" placeholder="Price">
                    <small [hidden]="myForm.controls.price.pristine || myForm.controls.price.valid" class="redAlert">Required.</small>
                </div>

                <div class="form-group col-md-6">
                    <input type="number" formControlName="sales_price" class="form-control" placeholder="Sales Price">
                    <small [hidden]="myForm.controls.sales_price.pristine || myForm.controls.sales_price.valid" class="redAlert">Required.</small>
                </div>
                
                <div class="form-group col-md-12">
                    <button 
                        [ngClass]="{ 'btn btn-primary' : myForm.controls.quantityMethod.controls.type?.value === QUANTITY_METHOD_TYPE?.STOCK }" 
                        type="button" 
                        (click)="setPaymentMethodType(QUANTITY_METHOD_TYPE?.STOCK)" 
                        style="width:100%">
                        {{ QUANTITY_METHOD_TYPE?.STOCK }}
                    </button>

                    <button 
                            [ngClass]="{ 'btn btn-primary' : myForm.controls.quantityMethod.controls.type?.value === QUANTITY_METHOD_TYPE?.BOX }" 
                            type="button" 
                            (click)="setPaymentMethodType(QUANTITY_METHOD_TYPE?.BOX)" 
                            style="width:100%">
                        {{ QUANTITY_METHOD_TYPE?.BOX }}
                    </button>
                </div>
                
                <div formGroupName="quantityMethod">

                    <div formGroupName="box" *ngIf="myForm.controls.quantityMethod.controls.type?.value === QUANTITY_METHOD_TYPE?.BOX">

                        <div class="form-group col-md-6">
                            <input type="number" formControlName="number_of_boxes" class="form-control" placeholder="Number Of Boxes">
                            <small [hidden]="myForm.controls.quantityMethod.controls.box.controls.number_of_boxes.pristine || myForm.controls.quantityMethod.controls.box.controls.number_of_boxes.valid" class="redAlert">Required.</small>
                        </div>
                        
                        <div class="form-group col-md-6">
                            <input type="number" formControlName="quantity_in_box" class="form-control" placeholder="Quantity In Box">
                            <small [hidden]="myForm.controls.quantityMethod.controls.box.controls.quantity_in_box.pristine || myForm.controls.quantityMethod.controls.box.controls.quantity_in_box.valid" class="redAlert">Required.</small>
                        </div>

                    </div>

                    <div formGroupName="stock" *ngIf="myForm.controls.quantityMethod.controls.type?.value === QUANTITY_METHOD_TYPE?.STOCK">

                        <div class="form-group col-md-6">
                            <input type="number" formControlName="quantity" class="form-control" placeholder="Quantity">
                            <small [hidden]="myForm.controls.quantityMethod.controls.stock.controls.quantity.pristine || myForm.controls.quantityMethod.controls.stock.controls.quantity.valid" class="redAlert">Required.</small>
                        </div>

                    </div>

                </div>
                
                <div class="form-group col-md-6">
                    <input type="text" formControlName="batch" class="form-control" placeholder="Batch Number">
                </div>

                <div class="form-group col-md-6">
                    <input type="text" formControlName="supplier_name" class="form-control" placeholder="Supplier name">
                </div>

                <div class="form-group col-md-6">
                    <input type="text" formControlName="supplier_location" class="form-control" placeholder="Supplier Location">
                </div>

                <div class="form-group col-md-6">
                    <input type="text" formControlName="supplier_contact" class="form-control" placeholder="Supplier Contact">
                </div>

                <div class="form-group col-md-12">
                    <textarea formControlName="description" class="form-control" rows="8" placeholder="Book Description"></textarea>
                </div>  

                <div class="form-group col-md-12">
                    <input type="submit" name="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid" value="Submit">
                </div>

            </form>

        </div>

    </div> 

</div>