<style>
    .cpointer{
        cursor:pointer;
    }
</style>

<section id="cart_items" [@flyInOut]="'in'">
    <div class="container">

<h2 class="title text-center">Category List</h2>
<div class="status alert alert-warning" style="" *ngIf="catLoadError">{{catLoadError}}</div>
<div class="status alert alert-success" style="" *ngIf="catRemoveSuccess">{{catRemoveSuccess}}</div>

<div class="table-responsive cart_info" style="border:none !important">
<!-- pager -->
<ul *ngIf="pager.pages?.length" class="pagination" style="float:right">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="cpointer" (click)="setPage(1)">First</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="cpointer" (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a class="cpointer" (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="cpointer" (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="cpointer" (click)="setPage(pager.totalPages)">Last</a>
    </li>
</ul>

<table class="table table-condensed">
    <thead>
        <tr class="cart_menu">
            <td>Category</td>
            <td>Number Of Books</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of pagedItems">
            <td>{{category?.name}}</td>
            <td>{{category?.book_count_relation[0]?.count}}</td>
            <td>
                <select class="form-control" [(ngModel)]="actionValue[category?.id]" (click)="open(category?.id)">
                    <option value="">Edit/Delete</option>
                    <option value="edit">Edit</option>
                    <option value="delete">Delete</option>
                </select>
            </td>
        </tr>
        
    </tbody>
</table>

<!-- pager -->
<ul *ngIf="pager.pages?.length" class="pagination" style="float:right">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="cpointer" (click)="setPage(1)">First</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="cpointer" (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a class="cpointer" (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="cpointer" (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="cpointer" (click)="setPage(pager.totalPages)">Last</a>
    </li>
</ul>
</div>

    </div>
</section> <!--/#cart_items-->

<!-- <modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="closed()" (onDismiss)="dismissed()" (onOpen)="opened()" #modal> -->
<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" #modal1>
    <modal-header [show-close]="true">

        <h4 class="modal-title">Delete Category</h4>

    </modal-header>
    <modal-body>

        <h4>Are you sure you want to delete the selected category?</h4>

    </modal-body>
    <modal-footer [show-default-buttons]="false">
        
        <button class="btn btn-success btn-sm pull-right" (click)="removeCategory();modal1.close()">
            <i class="fa fa-check" aria-hidden="true"></i>Ok</button>

        <button class="btn btn-danger btn-sm pull-right" style="margin-right:5px" (click)="modal1.close()">
            <i class="fa fa-times" aria-hidden="true"></i>Close</button>

    </modal-footer>
</modal>

<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" #modal2>
    <modal-header [show-close]="true">

        <h4 class="modal-title">Edit Category</h4>

    </modal-header>
    <modal-body>

        <h4>Are you sure you want to edit the selected category</h4>

    </modal-body>
    <modal-footer [show-default-buttons]="false">
        
        <button class="btn btn-success btn-sm pull-right" (click)="editCategory();modal2.close()">
            <i class="fa fa-check" aria-hidden="true"></i>Ok</button>

        <button class="btn btn-danger btn-sm pull-right" style="margin-right:5px" (click)="modal2.close()">
            <i class="fa fa-times" aria-hidden="true"></i>Close</button>

    </modal-footer>
</modal>