<header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav navbar-nav collapse navbar-collapse" *ngIf="isLoggedIn">
                            <li><a [routerLink]="['home']" class="active">Home</a></li>
                            <li class="dropdown" style="border:2px solid white"><a [routerLink]="['books']">Books<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu" style="padding:0px;border:2px solid yellow !important">
                                    <li><a [routerLink]="['books/list']" style="width:100%;border:2px solid black !important">View Books</a></li>
                                    <li><a [routerLink]="['books/add/1']" style="width:100%;border:2px solid black !important">Add Book</a></li>  
                                </ul>
                            </li> 
                            <li class="dropdown"><a [routerLink]="['categories/list']">Categories<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a [routerLink]="['categories/list']">View Categories</a></li>
                                    <li><a [routerLink]="['categories/add/0']">Add Category</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a [routerLink]="['suppliers/list']">Suppliers<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a [routerLink]="['suppliers/list']">View Suppliers</a></li>
                                    <li><a [routerLink]="['suppliers/add/0']">Add Supplier</a></li>
                                </ul>
                            </li> 
                            <li class="dropdown"><a [routerLink]="['levels/list']">Class<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a [routerLink]="['levels/list']">View Class</a></li>
                                    <li><a [routerLink]="['levels/add/0']">Add Class</a></li>
                                </ul>
                            </li>   
                            <li class="dropdown"><a href="#">Reports<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a [routerLink]="[]">Sales</a></li>
                                    <li><a [routerLink]="[]">Stock</a></li>
                                </ul>
                            </li>
                            <li><a [routerLink]="['cart']">Cart</a></li>
                            <!--
                            <li><a href="contact-us.html">Contact</a></li>
                            -->
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6" *ngIf="isLoggedIn">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <!--<li *ngIf="!isLoggedIn"><a [routerLink]="['login']"><i class="fa fa-lock"></i> Login</a></li>-->
                            <!--<li *ngIf="!isLoggedIn"><a [routerLink]="['signup']"><i class="fa fa-plus"></i> Signup</a></li>-->
                            <li class="dropdown"><a><i class="fa fa-user"></i> {{ user?.name }}<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a (click)="onLogout()" style="cursor:pointer"><i class="fa fa-eject"></i> Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->
</header><!--/header-->
<!--<login (modelChange)="onUserModelChange($event)"></login>-->